<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.SpaceDao">
    <resultMap id="BaseResultMap" type="space.qmen.lot.domain.Space">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="description" property="description" />
    </resultMap>

    <parameterMap id="Space" type="space.qmen.lot.domain.Space"/>

    <sql id="Base_Column_List">
        id, name, status, description
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from space
        where id = #{id}
    </select>

    <select id="findAllSpace" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from space
    </select>

    <insert id="saveSpace" parameterMap="Space" useGeneratedKeys="true" keyProperty="id">
        insert into
        space(id,name,status,description)
        values
        (#{id},#{name},#{status},#{description})
    </insert>

    <update id="updateSpace" parameterMap="Space">
        update
        space
        set
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="status!=null">
            status = #{status},
        </if>
        description = #{description}
        where
        id = #{id}
    </update>

    <delete id="deleteSpace" parameterType="java.lang.Long">
        delete from
        space
        where
        id = #{id}
    </delete>
</mapper>
