<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="space.qmen.lot.entity.Notice" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="action" property="action" jdbcType="BIT" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="seq" property="seq" jdbcType="BIT" />
    <result column="is_read" property="isRead" jdbcType="BIT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
</mapper>