<!DOCTYPE html>
<!--/*技术支持，小庄602842076     验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*技术支持，小庄602842076    验证：商城技术支持*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/
/*https://shop116998991.taobao.com/*/-->

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="description" content="" />
    <meta name="viewport" content="user-scalable=no">
    
    <meta name="google-site-verification" content="BstJA3X9z6f9HcvoN9AZTwaKo_9Abj_j7dVBPfy640s" />
    <meta name="baidu-site-verification" content="IYCrtVH0i1" />
    <meta property="wb:webmaster" content="239d3d1dbdde1b2c" />
    <link rel="icon" type="image/png" href="images/favicon.ico"/>
    
    <script type="text/javascript">
        
        (function(document, screen) {if (screen.width < 760) {document.location.href="/mobile/";}}(document, screen));
    </script>
    
    <link rel="stylesheet" href="css/common.css?v=2015-5-20"/>
    
    <link rel="stylesheet" href="css/user_center.css"/>

    <!--[if lte IE 7]><script>window.onload=function(){location.href="/ie6warning/"}</script><![endif]-->
    <!--[if lt IE 9]>
    <script src="js/respond.js"></script>
    <script>
        var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video, dh-dialog, dh-checkbox".split(', ');
         var i= e.length;while (i--){document.createElement(e[i])}
    </script>
    <![endif]-->
    <title>礼品兑换</title>
</head>
<body class="day " ng-controller="bodyCtrl"  day-or-night>
    <section class="common-back" id="wrapBackground">
        
            <header id="header">
                <div class="common-width clearfix">
                    <h1 class="fl">
                        <a class="logo base-logo" href="index.html">外卖超人</a>
                    </h1>
                    
                        
                        <ul class="member" login-box>
                            <li><a href="index.html" class="index">首页</a></li>
                            <li class="login-register"><a href="login.html" referer-url  class="login"  rel="nofollow">登录</a><span class="cg">/</span><a href="register.html" referer-url  rel="nofollow" class="register">注册</a></li>
                            <li><a href="member_order.html" class="order-center"  rel="nofollow">查看订单</a></li>
                            <li class=""><a href="gifts.html"  rel="nofollow">氪星礼品站</a></li>
                            <li class="phone-client "><a href="#"  rel="nofollow" target="_blank"><span>手机客户端</span></a></li>
                        </ul>
                    
                </div>
            </header>
            
            
            
            
            
            
            
            
            
        
        <div id="main-box">
             <!--二维码-->
            <div class="qrCode-frame" ng-hide="qrCodeStatus">
                <img src="images/wx.png" alt="扫描二维码" />
                <em ng-click="qrCodeStatus=true">X</em>
            </div>
        
            <div ng-controller="colorAction">
                <div class="dayColor_two"></div>
                <div class="dayColor_one"></div>
                <div class="dayColor_three" ng-class="{dayColor_threeActive:threeActive}"></div>
            </div>
        
            
    <section>
        <div class="user-center-main-box common-width clearfix">
            <aside class="fl">
                <ul>
                    <li>
                        <a href="member_index.html" rel="nofollow">账号管理</a>
                    </li>
                    <li>
                        <a href="member_order.html" rel="nofollow">我的订单</a>
                    </li>
                    <li>
                        <a href="member_collect.html" rel="nofollow">我的收藏</a>
                    </li>
                    <li >
                        <a href="member_addr.html"  rel="nofollow">地址管理</a>
                    </li>
                    <li  class="active" >
                        <a href="gifts.html" rel="nofollow">氪星礼品站</a>
                    </li>
                </ul>
            </aside>
            <article class="fl user-center-main">
                <header>
	
	
		<span class="f-size">想兑换？请<a href="javascript:" ng-click="logoinDialogShow()">立即登录</a></span>
	
</header>
                
    <section class="user-gift-main">
        
         <ul class="gift-item clearfix">
            
             <li>
                  <p class="gift-name ellipsis" title="人形USB">人形USB</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="10000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('人形USB','31')" ng-disabled="gitDisable('10000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="透明电子钟笔筒">透明电子钟笔筒</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="15000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('透明电子钟笔筒','3')" ng-disabled="gitDisable('15000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="超人U盘(8G)">超人U盘(8G)</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('超人U盘(8G)','1')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="usb苹果台灯">usb苹果台灯</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('usb苹果台灯','5')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="人形USB">人形USB</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="10000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('人形USB','31')" ng-disabled="gitDisable('10000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="透明电子钟笔筒">透明电子钟笔筒</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="15000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('透明电子钟笔筒','3')" ng-disabled="gitDisable('15000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="超人U盘(8G)">超人U盘(8G)</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('超人U盘(8G)','1')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="usb苹果台灯">usb苹果台灯</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('usb苹果台灯','5')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             <li>
                  <p class="gift-name ellipsis" title="人形USB">人形USB</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="10000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('人形USB','31')" ng-disabled="gitDisable('10000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="透明电子钟笔筒">透明电子钟笔筒</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="15000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('透明电子钟笔筒','3')" ng-disabled="gitDisable('15000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="超人U盘(8G)">超人U盘(8G)</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('超人U盘(8G)','1')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="usb苹果台灯">usb苹果台灯</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('usb苹果台灯','5')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             <li>
                  <p class="gift-name ellipsis" title="人形USB">人形USB</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="10000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('人形USB','31')" ng-disabled="gitDisable('10000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="透明电子钟笔筒">透明电子钟笔筒</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="15000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('透明电子钟笔筒','3')" ng-disabled="gitDisable('15000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="超人U盘(8G)">超人U盘(8G)</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('超人U盘(8G)','1')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             
             <li>
                  <p class="gift-name ellipsis" title="usb苹果台灯">usb苹果台灯</p>  
                  <p><img src="images/restaurant_08.jpg" /></p>
                  <p class="gift-num"><span ng-bind="18000|number"></span>氪星币礼品</p>
                  <button class="btn gift-button" ng-click="gitGift('usb苹果台灯','5')" ng-disabled="gitDisable('18000')">立即兑换</button>
             </li>
             
         </ul>
         
    </section>


            </article>
        </div>
    </section>

        </div>
    </section>
    
        <footer id="footer">
        <div class="footer-first gray">
            <div class="company-info clearfix fs14 gray">
                <a href="about.html" target="_blank"  rel="nofollow">关于我们</a>
                <a href="help.html" target="_blank"  rel="nofollow">帮助中心</a>
                <a href="javascript:;" target="_blank"  rel="nofollow">法律声明</a>
                <a href="jobs.html" target="_blank"  rel="nofollow">人才招聘</a>
                <a href="contact.html" target="_blank"  rel="nofollow">联系我们</a>
                <a href="javascript:;" user-feedback ng-click="userFeedback=true" class="last" rel="nofollow">意见反馈</a>
                <a href="javascript:;" class="last" target="_blank" style="display:none">上海餐厅导航</a>
            </div>
        </div>
        <div class="footer-last">
            <a target="_blank" class="foot-logo-1 base-logo" href="index.html"></a>
            <div class="tc fs14 light-gray mb10">
              ©2014 waimaichaoren.com All Rights Reserved - 沪ICP备11019908号
            </div>
        </div>
    </footer>
    
    
    <dh-dialog class="disnone" height="500" feeedbackclass="userFeedback" type="user-feedback" header="意见反馈" show="userFeedback">
        <div ng-controller="feedbackCtrl">
            <form novalidate="true" name="feedbackForm" class="inline">
                <div class="form-group row mb10">
                    <label class="col-3">联系方式：</label>
                    <div class="col-8">
                        <input type="text" maxlength="20" name="userContact" required ng-focus="userContactFocus()" ng-class="{error:feedback.phoneMessage}" placeholder="请输入您的手机号码" ng-model="feedback.userContact"/>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="clo-8 col-offset-3" ng-if="feedback.phoneMessage">
                        <span class="vaildate-error">联系方式不能为空</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 vt">反馈信息：</label>
                    <div class="col-8">
                        <textarea name="feedbackMessage"  placeholder="可以说说您对外卖超人的意见" ng-focus="feedbacFocus()" required ng-class="{error:feedback.feedbackMessageTip}" ng-model="feedback.feedbackMessage" maxlength="300" cols="25" rows="7"></textarea>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="clo-8 col-offset-3" ng-if="feedback.feedbackMessageTip">
                        <span class="vaildate-error">反馈信息不能为空</span>
                    </div>
                </div>
                <div class="tc">
                    <button class="btn normal-btn btn-success" ng-click="feedbackSubmit()">确认</button>
                    <button class="btn normal-btn btn-cancel" ng-click="feedbackCancel()">取消</button>
                </div>
            </form>
        </div>
        <div class="common-dialog-footer">
            咨询加QQ群：337212031
        </div>
    </dh-dialog>
    
	
<dh-dialog class="disnone" type='login' height="500" header="登录" show="loginShow" >
    <form class="login-form" novalidate name="loginForm" ng-controller="loginCtrl">
        <div class="form-group">
            <label for="">手机号码</label>
            <div>
                <input type="text" ng-model="user.username" ng-class="{error:user.usernameMessage}" ng-focus="user.usernameMessage=''" maxlength="11" placeholder="请输入你的手机号码" />
                <span class="vaildate-error" ng-if="user.usernameMessage">
                    <span ng-bind="user.usernameMessage"></span>
                </span>
                <span class="vaildate-error" ng-if="user.isLogined">
                    该手机号码尚未注册！<a href="javascript:;" ng-click="locationRegister()" class="link">立即注册</a>
                </span>
            </div>
        </div>
        <div class="form-group mb10">
            <label for="">登录密码</label>
            <div>
                <input type="password" onpaste="return false" ng-model="user.password" ng-focus="user.passwordMessage=''"  ng-class="{error:user.passwordMessage}" maxlength="10" placeholder="请输入登录密码" />
                <span class="vaildate-error" ng-if="user.passwordMessage">
                    <span ng-bind="user.passwordMessage"></span>
                </span>
            </div>
        </div>
        <div ng-init="showCaptcha=0" ng-if="showCaptcha" class="form-group inline clearfix mb10">
            <div class="fl w50p">
                <input type="text" ng-model="user.captcha" ng-focus="user.captchaMessage=''"  ng-class="{error:user.captchaMessage}" placeholder="请输入验证码">
                <span class="vaildate-error" ng-if="user.captchaMessage">
                    <span ng-bind="user.captchaMessage"></span>
                </span>
            </div>
            <label class="fr">
                <dh-captcha change="captchaChange" src="/captcha/"></dh-captcha>
            </label>
        </div>
        <div class="clearfix mb10">
            <dh-checkbox model="user.rememberme" title="记住我" class="fl"></dh-checkbox>
            <a href="/account/password/reset_via_mobile/" target="_blank" class="fs12 fr link">忘记密码</a>
        </div>
        <button class="big-btn btn-green btn mb10" ng-click="loginVaildate()" ng-disabled="loginBtnDisabled" ng-bind="loginBtn"></button>
        <div class="clearfix">
            <span class="fr fs12">
                没有账号?
                <a href="javascript:void(0)" ng-click="locationRegister()" class="link">立即注册</a>
            </span>
        </div>
    </form>
</dh-dialog>
<dh-dialog class="disnone" type='register' height="500" header="注册" show="registerShow" >
    <form ng-controller="registerCtrl" class="register-form" name="registerForm">
        <div class="form-group mb10">
            <label for="">手机号码</label>
            <div>
                <input type="text" ng-class="{error:user.usernameMessage}" maxlength="11" placeholder="请输入您的手机号码" ng-model="user.username"/>
                <span class="vaildate-error" ng-if="user.usernameMessage">
                    <span ng-bind="user.usernameMessage"></span>
                </span>
                <span class="vaildate-error" ng-if="user.isRegistered">
                    该手机号码已经注册！<a href="javascript:;" ng-click="locationLogin()" class="link">立即登录</a>
                </span>
            </div>
        </div>



        <div class="form-group captcha-wrap">
            <div class="clearfix captcha-box">
                <div class="fl form-group captcha-item">
                    <div class="fl w50p">
                        <input type="text" ng-class="{error:user.captchaMessage}" ng-focus="user.captchaMessage=''" placeholder="请输入验证码" ng-model="user.captcha" />
                        <span class="vaildate-error" ng-if="user.captchaMessage">
                            <span ng-bind="user.captchaMessage"></span>
                        </span>
                    </div>
                    <button class="fs12 fr w40p btn btn-pink" ng-click="getCaptcha()" ng-disabled="captchaDisabled" ng-bind="captchaVal"></button>
                </div>
                <div class="fl form-group captcha-item">
                    <div class="fl w50p">
                        <input type="text" ng-model="user.imgCaptcha" maxlength="4" ng-disabled="imgCaptchaIsDisabled" ng-class="{error:user.imgCaptchaMessage}" placeholder="请输入验证码">
                        <span class="vaildate-error" ng-if="user.imgCaptchaMessage">
                            <span ng-bind="user.imgCaptchaMessage"></span>
                        </span>
                    </div>
                    <label class="fr">
                        <dh-captcha style="width:119px;height:34px;" change="captchaImgChange" src="/captcha/"></dh-captcha>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group mb10">
            <label for="">登录密码</label>
            <div><input type="password" ng-class="{error:user.passwordMessage}" ng-focus="user.passwordMessage=''"  maxlength="10" onpaste="return false" placeholder="输入登录密码 6-10个字符" ng-model="user.password" />
                <span class="vaildate-error" ng-if="user.passwordMessage">
                    <span ng-bind="user.passwordMessage"></span>
                </span>
            </div>
        </div>
        <div class="form-group mb10">
            <div><input type="password" ng-class="{error:user.password2Message}" ng-focus="user.password2Message=''" maxlength="10" onpaste="return false" placeholder="输入登录密码 6-10个字符" ng-model="user.password2"/>
                <span class="vaildate-error" ng-if="user.password2Message">
                    <span ng-bind="user.password2Message"></span>
                </span>
            </div>
        </div>
        <div class="clearfix mb10">
            <dh-checkbox model="user.remember" title="我同意外卖超人" class="fl"></dh-checkbox>
            <a href="/terms-and-conditions/" target="_blank" class="fs12 fl link"> " 注册条款 "</a>
        </div>
        <button ng-disabled="!user.remember || registerBtnDisabled" ng-click="registerVaildate()" class="big-btn btn-green btn mb10" ng-bind="registerBtn"></button>
    </form>
</dh-dialog>
<script>
    var common_sms_code = '/ajax/common_sms_code/';
    var ajax_customer_user_register_start = '/ajax/customer_user_register_start/';
    var common_validate_sms_code = '/ajax/common_validate_sms_code/';
    var ajax_customer_user_register_register = '/ajax/customer_user_register_register/';
</script>

    <dh-dialog class="disnone" type="contact" header="历史兑换记录" show="giftHistroy">
        <div class="gift-histroy-body">
            <table>
                <thead>
                    <tr>
                        <th width="135">申请时间</th>
                        <th width="200">兑换礼品</th>
                        <th width="110">超人审核结果</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat="list in lists track by $index">
                        <td ng-bind="list.create_date"></td>
                        <td><div ng-bind="list.gift_name"></div></td>
                        <td ng-bind="list.status"></td>
                    </tr>
                    <tr ng-show="showHistroy">
                        <td colspan="3" class="no-item">暂无历史兑换记录</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </dh-dialog>
    <dh-dialog class="disnone" header="填写兑换信息" show="giftMessageStatus">
        <div class="gift-giftMessage-body" ng-controller="giftMessageCtr">
            <div class="form-group row mb10">
                <label class="col-3">兑换礼品：</label>
                <div class="col-8 Ce18450 ellipsis" ng-bind="giftName"></div>
            </div>
            <div class="form-group row mb10">
                <label class="col-3"><i class="red">*</i>联系姓名：</label>
                <div class="col-8">
                    <input type="text" maxlength="20" name="userName" ng-focus="userNameFocus()" ng-class="{error:giftMessage.userNameMessage}"  ng-model="giftMessage.userName"/>
                </div>
            </div>
            <div class="row mb10">
                <div class="clo-8 col-offset-3" ng-if="giftMessage.userNameMessage">
                    <span class="vaildate-error" ng-bind="giftMessage.userNameMessage"></span>
                </div>
            </div>
            <div class="form-group row mb10">
                <label class="col-3"><i class="red">*</i>联系电话：</label>
                <div class="col-8">
                    <input type="text" maxlength="11" name="phoneMessage" ng-focus="phoneMessageFocus()" ng-class="{error:giftMessage.phoneMessage}"  ng-model="giftMessage.phone"/>
                </div>
            </div>
            <div class="row mb10">
                <div class="clo-8 col-offset-3" ng-if="giftMessage.phoneMessage">
                    <span class="vaildate-error" ng-bind="giftMessage.phoneMessage"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3">邮寄地址：</label>
                <div class="col-8">
                    <textarea ng-model="giftMessage.adress" maxlength="300" cols="37" rows="5"></textarea>
                </div>
            </div>
            <p class="mestip">消息确认无误后，3个工作日左右会有超人客服联系您，请耐心等待</p>
            <div class="tc">
                <button class="btn normal-btn btn-success" ng-click="giftMessageSubmit()">确认信息并兑换</button>
                <button class="btn normal-btn btn-cancel" ng-click="giftMessageCancel()">取消</button>
            </div>
        </div>
    </dh-dialog>
    <dh-dialog class="disnone" type="alert" header="" show="giftError">
        <div class="giftError alert-box error">
            <p ng-bind="giftErrormMsg"></p>
        </div>
    </dh-dialog>
    <dh-dialog class="disnone" type="alert" header="" show="giftOk">
        <div class="giftError alert-box">
            <p ng-bind="giftOkmMsg"></p>
        </div>
    </dh-dialog>

     <ul class="site-fixed">
        <li class="scroll-top"><img src="images/scroll_top1.png" alt=""/> </li>
        <li class="scorll-feekback" ng-click="userFeedback=true">
            <img src="images/scorll_feekback.png" alt=""/>
            <div>意见反馈</div>
        </li>
        <li class="scroll-wx">
            <img src="images/scroll_wx.png" alt=""/>
             <div><img src="images/wx.png" alt=""/></div>
        </li>
    </ul>
    
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/common.js"></script>
    
     
    <script src="js/service.js"></script>
    
    <script>var feedbackUrl = '/ajax/feedback/';var app = angular.module("app", ["dh.dialog", "dh.form", 'dh.service', 'dh.other']);</script>
    <!--[if lt IE 9]><script src="js/fix.js"></script><![endif]-->
    
    
    <script src="js/gift_center.js"></script>
    <script>
      var userPhone=""||"",giftNum=""||0;
    </script>

    
    <script>angular.bootstrap(document, ["app"]);</script>

    <!-- Baidu Analytics -->


</body>
</html>
