<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心(消息详情)</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/shopping-mall-index.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/zhonglin.js"></script>
</head>

<body>

	<!--top 开始-->
    <div class="top">
    	<div class="top-con w1200">
        	<p class="t-con-l f-l">您好，欢迎来到宅客微购</p>
            <ul class="t-con-r f-r">
            	<li><a href="#">我 (个人中心)</a></li>
            	<li><a href="#">我的购物车</a></li>
            	<li><a href="#">我的订单</a></li>
            	<li class="erweima">
                	<a href="#">扫描二维码</a>
                    <div class="ewm-tu">
                    	<a href="#"><img src="images/erweima-tu.jpg" /></a>
                    </div>
                </li>
                <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--logo search 开始-->
    <div class="hd-info1 w1200">
    	<div class="logo f-l">
        	<h1><a href="#" title="中林网站"><img src="images/logo.jpg" /></a></h1>
        </div>
        <div class="search f-r">
        	<ul class="sp">
            	<li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
                <li ss-search="dp"><a href="JavaScript:;">店铺</a></li>
                <div style="clear:both;"></div>
            </ul>
            <div class="srh">
            	<div class="ipt f-l">
                	<input type="text" placeholder="搜索商品..." ss-search-show="sp" />
                    <input type="text" placeholder="搜索店铺..." ss-search-show="dp" style="display:none;" />
                </div>
                <button class="f-r">搜 索</button>
                <div style="clear:both;"></div>
            </div>
            <ul class="sp2">
                <li><a href="#">绿豆</a></li>
                <li><a href="#">大米</a></li>
                <li><a href="#">驱蚊</a></li>
                <li><a href="#">洗面奶</a></li>
                <li><a href="#">格力空调</a></li>
                <li><a href="#">洗发护发</a></li>
                <li><a href="#">葡萄 </a></li>
                <li><a href="#">脉动</a></li>
                <li><a href="#">海鲜水产</a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </div>
    
    <!--nav 开始-->
    <div style="border-bottom:2px solid #F09E0B;">
    	<div class="nav w1200">
    	<a href="JavaScript:;" class="sp-kj" kj="">
        	商品分类快捷
        </a>
        <div class="kj-show2 none" kj-sh="">
            <div class="kj-info1" mg="shiping">
            	<dl class="kj-dl1">
               		<dt><a href="#">食品/饮料/酒水</a></dt>
                    <dd>
                    	零食/糖果/巧克力、饼干/糕点、生鲜<br />
                        酒水饮料/乳饮料、调味/速食<br />
                        粮油/干货、冲调制品
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="shiping">
                	<dl>
                    	<dt>零食/糖果/巧克力</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>零食/糖果/巧克力</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>零食/糖果/巧克力</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>零食/糖果/巧克力</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>零食/糖果/巧克力</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                    	<dt>零食/糖果/巧克力</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" mg="muying">
            	<dl class="kj-dl1">
               		<dt><a href="#">母婴用品/玩具</a></dt>
                    <dd>
                    	奶粉/辅食、尿裤/湿巾、玩具<br />
                        宝宝喂养/洗护清洁
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="muying">
                	<dl>
                    	<dt>母婴用品/玩具</dt>
                        <dd>
                        	<a href="#">巧克力</a>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>母婴用品/玩具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">口香糖</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>母婴用品/玩具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">膨食品</a>
                        	<a href="#">糖克力/口香糖</a>
                        	<a href="#">肉品</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">进口食品</a>
                        	<a href="#">巧克力</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>母婴用品/玩具</dt>
                        <dd>
                        	<a href="#">巧克力</a>
                        	<a href="#">坚果线</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">膨食品</a>
                        	<a href="#">果冻/克口香糖</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">进食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>母婴用品/玩具</dt>
                        <dd>
                        	<a href="#">迷线</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">膨化品</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">糖果力/口香糖</a>
                        	<a href="#">巧克力</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                    	<dt>母婴用品/玩具</dt>
                        <dd>
                        	<a href="#">迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果克力/口香糖</a>
                        	<a href="#">肉类/熟品</a>
                        	<a href="#">进食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" mg="chuju">
            	<dl class="kj-dl1">
               		<dt><a href="#">厨具餐具/家用清洁/纸品</a></dt>
                    <dd>
                    	纸品湿巾、衣物清洁护理、家庭清洁<br />
                        清洁、厨具、烹饪用具/厨房配件<br />
                        食物保鲜容器
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="chuju">
                	<dl>
                    	<dt>厨具餐具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>厨具餐具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>厨具餐具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>厨具餐具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>

                    	<dt>厨具餐具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                    	<dt>厨具餐具</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" mg="meizhuang">
            	<dl class="kj-dl1">
               		<dt><a href="#">美妆洗护/个人护理洗发护发</a></dt>
                    <dd>
                    	洗浴用品/身体护理、口腔护理、面部护肤<br />
                        女性护理、彩妆/美容工具、男士护理
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="meizhuang">
                	<dl>
                    	<dt>美妆洗护</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>美妆洗护</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>美妆洗护</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>美妆洗护</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>美妆洗护</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                    	<dt>美妆洗护</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
            <div class="kj-info1" style="border-bottom:none;" mg="jiafang">
            	<dl class="kj-dl1" style="padding:6px 10px;">
               		<dt><a href="#">家居/家纺</a></dt>
                    <dd>
                    	浴室用品、餐具水具<br />
                        收纳/居家日用、针织纺品
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="jiafang">
                	<dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>

                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl>
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <dl style="border-bottom:none;">
                    	<dt>家居/家纺</dt>
                        <dd>
                        	<a href="#">坚果迷线</a>
                        	<a href="#">膨化食品</a>
                        	<a href="#">糖果果冻/巧克力/口香糖</a>
                        	<a href="#">肉类/熟食食品</a>
                        	<a href="#">进口食品</a>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
            </div>
        </div>
        <ul>
        	<li><a href="#">在线商城</a></li>
        	<li><a href="#">餐饮娱乐</a></li>
        	<li><a href="#">家政服务</a></li>
        	<li><a href="#">美容美发</a></li>
        	<li><a href="#">教育培训</a></li>
        	<li><a href="#">汽车房产</a></li>
        	<li><a href="#">家居建材</a></li>
        	<li><a href="#">二手市场</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    </div>
    
    <!--内容开始-->
    <div class="personal w1200">
    	<div class="personal-left f-l">
        	<div class="personal-l-tit">
            	<h3>个人中心</h3>
            </div>
            <ul>
            	<li class="current-li per-li1"><a href="#">消息中心<span>></span></a></li>
            	<li class="per-li2"><a href="#">个人资料<span>></span></a></li>
            	<li class="per-li3"><a href="#">我的订单<span>></span></a></li>
            	<li class="per-li4"><a href="#">我的预约<span>></span></a></li>
            	<li class="per-li5"><a href="#">购物车<span>></span></a></li>
            	<li class="per-li6"><a href="#">管理收货地址<span>></span></a></li>
            	<li class="per-li7"><a href="#">店铺收藏<span>></span></a></li>
            	<li class="per-li8"><a href="#">购买记录<span>></span></a></li>
            	<li class="per-li9"><a href="#">浏览记录<span>></span></a></li>
            	<li class="per-li10"><a href="#">会员积分<span>></span></a></li>
            </ul>
        </div>
    	<div class="personal-r f-r">
        	<div class="personal-right">
                <div class="personal-r-tit">
                    <h3>消息中心列表  <  "三只松鼠"与一颗坚果</h3>
                </div>
                <div class="pcm-con">
                	<div class="pcm-top">
                    	<h2>"三只T松鼠"与一颗坚果</h2>
                        <p class="time">2008-08-08 08:08:08</p>
                        <p class="rq">
                            <span>2008年08月08日</span>
                            <span>08:08:08</span>
                            <span>来源： 新华网</span>
                        </p>
                    </div>
                    <div class="pcm-info">
                    	<p>新华网合肥５月１５日电（记者陈诺）"松鼠老爹"章燎原和他的创客团队，在２０１４年"双十一"网购狂欢节上，以１．０２亿元的单日销售额，刷新中国电商食品销售纪录。</p>
                        <p>位于安徽省芜湖市的食品电商——"三只松鼠"从零起步，短短几年时间，用小小的坚果敲开了无数"吃货"的胃，更敲响了平凡人的"创业梦"。</p>
                        <img src="images/pcm-con-tu.gif" />
                        <strong>>>>民房里走出"草根"团队</strong>
                        <p>２０１２年，分散在街头巷尾的炒货店、零食铺子等实体店面依然是主要销售渠道。已在安徽一传统坚果企业任职近１０年的章燎原却敏锐地嗅到了坚果的电子"商机"</p>
                        <p>"网络世界那么大，我想去看看。"放弃原有的营销总监职位，３６岁的章燎原离开老东家，重新创业。</p>
                        <p>当年２月，食品电商"三只松鼠"在芜湖市一座百余平方米的小区民房里成立，５位合伙人中，有做厨师的发小、老东家的下属，还有在网上发帖吐槽的离职少年。共同的"创业梦"，让他们集结于此。</p>
                        <p>创业初期，员工垒起硬纸板来代替办公桌，应聘者误以为走进传销公司匆忙逃离……</p>
                        <p>创新成为突破的关键。利用ＥＲＰ云数据处理，团队砍掉了累赘的加工环节，原产地订单式半成品直接运至芜湖总部的封装工厂进行质检和分装。</p>
                        <p>"因为不用在门店积压库存，周转期只有１５天，所以更新鲜，成本也相应减少。"食品安全品质部副经理李世艳告诉记者。</p>
                        <p>"瘦身"的"三只松鼠"跑得快，在天猫上线６５天后，便冲上了坚果类销量第一的宝座。</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    
    <!--底部服务-->
    <div class="ft-service">
    	<div class="w1200">
        	<div class="sv-con-l2 f-l">
            	<dl>
                	<dt><a href="#">新手上路</a></dt>
                    <dd>
                    	<a href="#">购物流程</a>
                    	<a href="#">在线支付</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">配送方式</a></dt>
                    <dd>
                    	<a href="#">货到付款区域</a>
                    	<a href="#">配送费标准</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">购物指南</a></dt>
                    <dd>
                    	<a href="#">常见问题</a>
                    	<a href="#">订购流程</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">售后服务</a></dt>
                    <dd>
                    	<a href="#">售后服务保障</a>
                    	<a href="#">退款说明</a>
                    	<a href="#">新手选购商品总则</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">关于我们</a></dt>
                    <dd>
                    	<a href="#">投诉与建议</a>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
        	<div class="sv-con-r2 f-r">
            	<p class="sv-r-tle">187-8660-5539</p>
            	<p>周一至周五9:00-17:30</p>
            	<p>（仅收市话费）</p>
            	<a href="#" class="zxkf">24小时在线客服</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--底部 版权-->
    <div class="footer w1200">
    	<p>
        	<a href="#">关于我们</a><span>|</span>
        	<a href="#">友情链接</a><span>|</span>
        	<a href="#">宅客微购社区</a><span>|</span>
        	<a href="#">诚征英才</a><span>|</span>
        	<a href="#">商家登录</a><span>|</span>
        	<a href="#">供应商登录</a><span>|</span>
        	<a href="#">热门搜索</a><span>|</span>
        	<a href="#">宅客微购新品</a><span>|</span>
        	<a href="#">开放平台</a>
        </p>
        <p>
        	沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
        </p>
    </div>
</body>
</html>
