<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="space.qmen.lot.dao.OrderDao">

    <resultMap id="BaseResultMap" type="space.qmen.lot.model.entity.Order">
        <result column="id" property="id" />
        <result column="order_type" property="orderType" />
        <result column="order_description" property="orderDescription" />
        <result column="f_renter_id" property="fRenterId" />
        <result column="f_owner_id" property="fOwnerId" />
        <result column="f_space_id" property="fSpaceId" />
        <result column="f_space_info" property="fSpaceInfo" />
        <result column="f_community_id" property="fCommunityId" />
        <result column="unit_price" property="unitPirce" />
        <result column="duration" property="duration" />
        <result column="expected_payment" property="expectedPayment" />
        <result column="reduction" property="reduction" />
        <result column="reduction_description" property="reductionDescription" />
        <result column="pre_payment" property="prePayment" />
        <result column="f_pre_payment_bill_id" property="fPrePaymentBillId" />
        <result column="actual_payment" property="actualPayment" />
        <result column="f_actual_payment_bill_id" property="fActualPaymentId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="status" property="status" />
    </resultMap>

    <parameterMap id="Order" type="space.qmen.lot.model.entity.Order"/>
    <sql id="Base_Column_List">
        id, order_type,order_description,
        f_renter_id,
        f_owner_id,
        f_space_id, f_space_info,
        f_community_id,
        unit_price, duration, expected_payment,
        reduction, reduction_description,
        pre_payment, f_pre_payment_bill_id,
        actual_payment, f_actual_payment_bill_id,
        gmt_create, gmt_modified,
        status
    </sql>


    <!-- 根据id获取账单 -->
    <select id="getOrderById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from `order`
        where id = #{id}
    </select>

    <!-- 显示所有账单 -->
    <select id="listOrder" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `order`
    </select>

    <!-- 新增账单 -->
    <insert id="saveOrder" parameterMap="Order" useGeneratedKeys="true" keyProperty="id">
        insert into
        `order`
        (id, order_type,
          f_renter_id, f_owner_id, f_space_id)
        values
        (null,#{orderType},
          #{fRenterId}, #{fOwnerId}, #{fSpaceId})
    </insert>

    <!--更新账单-->
    <update id="updateOrder" parameterMap="Order">
        update `order`
        set
        <if test="orderDescription!=null">
            order_description = #{orderDescription},
        </if>
        gmt_modified = CURRENT_TIMESTAMP
        where
        id = #{id}
    </update>

    <!-- 删除账单 -->
    <delete id="deleteOrder" parameterType="java.lang.Long">
        delete from
        `order`
        where
        id = #{id}
    </delete>

    <parameterMap id="ListOrderParam" type="space.qmen.lot.model.param.OrderParam"/>
    <resultMap id="OwnerOrderMap" type="space.qmen.lot.model.dto.OwnerOrderDTO">
        <result column="date_begin" property="dateBegin" />
        <result column="date_end" property="dateEnd" />
        <result column="period_type" property="periodType" />
        <result column="renter_name" property="renterName" />
        <result column="icon" property="icon" />
        <result column="community_name" property="communityName" />
        <result column="morning_begin_time" property="morningBeginTime" />
        <result column="morning_end_time" property="morningEndTime" />
        <result column="afternoon_begin_time" property="afternoonBeginTime" />
        <result column="afternoon_end_time" property="afternoonEndTime" />
        <result column="plate_num" property="plateNum" />
        <result column="actual_payment" property="actualPayment" />
        <result column="timeout_payment" property="timeoutPayment" />
        <result column="duration" property="duration" />
        <result column="order_status" property="orderStatus" />
    </resultMap>
    <select id="listOrderByOwnerId" resultMap="OwnerOrderMap" parameterMap="ListOrderParam">
        select
          day_status.date_begin,
          day_status.date_end,
          day_status.period_type,
            `user`.`real_name` AS renter_name,
          `user`.icon,
          community.`name` AS community_name,
          `space`.`code` AS space_code,
          policy.morning_begin_time,
          policy.morning_end_time,
          policy.afternoon_begin_time,
          policy.afternoon_end_time,
          vehicle.plate_num,
          `order`.actual_payment,
          `order`.timeout_payment,
          `order`.duration,
          `order`.`status` AS order_status
        from
            lk_community_policy AS policy,
          community,
          `space`,
          `user`,
          lk_space_day_renting_status AS day_status,
          vehicle,
          `order`
        where
          `order`.f_renter_id = `user`.id
          AND `order`.f_community_id = policy.f_community_id
          AND `order`.f_community_id = community.id
          AND `order`.f_space_id = `space`.id
          AND `order`.f_renting_status_id = day_status.id
          AND `order`.f_vehicle_id = vehicle.id
          AND day_status.f_owner_id = #{userId}
          AND `order`.`status` = #{orderStatus};
    </select>

    <!-- 某小区的历史交易订单次数 -->
    <select id="getOrderHistoryNum" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select
          count(*)
        from
          `order`
        where
          `order`.f_community_id = #{communityId}
          AND `order`.status != 2
    </select>

</mapper>
