/*--------------------/////////////////////////list 列表页--------------------*/
.contain { width: 980px; margin: 10px auto; overflow: hidden; zoom: 1; background: url(../images/t02bg.png) repeat-y 230px 0 #FFF; padding: 10px }
/* 菜单导航 */
.listl { border-radius: 3px 3px 0 0; width: 210px; background: url(../images/lnew_bg.jpg) repeat-x; }
.listl h2 { font-size: 14px; color: #FFF; line-height: 34px; height: 28px; text-align: center; background: url(../images/lnew_bg_h.jpg) no-repeat 40px center; border-bottom: #0044AB 4px solid }
.listl ul { text-align: center; border: #146CCE 1px solid }
.listl ul li { line-height: 40px; margin: 5px; font-size: 14px; background: #E0EFFA; border: #9FC2EA 1px solid }
.listl ul li a { color: #333; display: block }
.listl ul li a:hover { background: #F5F5F5; text-decoration: none }
/* 信息列表 */
.listr { width: 740px; background: #fff; }
.listr h2 { font-size: 14px; background: url(../images/newsbg.png) no-repeat #D9F6FC; line-height: 30px; height: 35px; color: #fff; padding: 0 10px 0 20px; }
.listr h2 span { float: right; font-size: 12px; font-weight: normal; color: #fff; }
.listr h2 span a { color: #fff; padding: 0 3px }
.listr h2 span a:hover { text-decoration: underline }
.listr ul li span { float: right; font-size: 12px; font-weight: normal; color: #999; }
.listr ul { padding: 10px 10px 20px 0 }
.listr ul li { line-height: 28px; font-size: 14px; background: url(../images/newsli.png) left no-repeat; padding-left: 15px; }
.listr ul li a { color: #333; }
.listr ul li a:hover { text-decoration: underline }
.listr ul li b { color: #F00; font-weight: normal; }
.page { text-align: center }
.page a { color: #F33; border: #ccc 1px solid; padding: 5px; margin: 0 2px }
.page>b, .page a:hover { background: #F60; color: #FFF; padding: 5px; }
.page>b, .page a { text-align: center; }
/* 信息 */
.info_text { width: 1000px; margin: 10px auto; background: #fff }
.info_text h2 { font-size: 14px; background: url(../images/listbg.png) no-repeat #D9F6FC; line-height: 26px; height: 26px; color: #fff; padding: 0 10px 0 40px; border-top: 1px #0383D9 solid }
.info_text h2 span { float: right; font-size: 12px; font-weight: normal; color: #000; }
.info_text h2 span a { color: #777; padding: 0 3px }
.info_text h2 span a:hover { color: #000; text-decoration: underline }
.info_text>ul { padding: 10px 30px }
.a_title { text-align: center; font-size: 26px; font-weight: bold; color: #000; line-height: 50px }
.p_title { text-align: center; font-size: 16px; color: #333; line-height: 50px; }
.a_content { line-height: 28px; font-size: 14px; padding: 10px 30px; color: #333 }
.a_content p { margin-bottom: 20px; text-indent: 2em; }
.box_p { border: #ccc 1px dashed; text-align: center; padding: 5px 0; margin: 0 30px 10px 30px; color: #999; }
.box_p a { color: #999 }
.box_p span { margin: 0 10px }
.a_content p img {
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<700?"700px":""); overflow: hidden; max-width: 700px; text-align: center; display: block; margin: auto; text-indent: 0em }
.nextinfos {text-align: left;width: 1000px;margin: auto;}
/* 投诉举报 */
.tsjb { width: 980px; margin: 10px auto; overflow: hidden; background: url(../images/mainbg.jpg) repeat-x #fff; padding: 0 10px; }
.tsjb h2 { background: url(../images/webicon.gif) no-repeat left center; font-size: 14px; line-height: 46px; height: 46px; padding-left: 20px; color: #069 }
.location { float: right; color: #999; font-size: 12px; font-weight: normal; }
.location a { color: #999; }
.note_show { margin: 10px 0; line-height: 26px; color: #666; }
.ps_red { color: #F00 }
.notebook { background: #F3F7F8; line-height: 26px; border: #ccc 1px solid; overflow: hidden; width: 622px }
.notebook li span { margin-left: 10px; color: #F00 }
.gbook li { border-bottom: #ccc 1px solid; width: 130px; text-align: right; padding: 5px 10px 5px 0 }
.gform { border-left: #ccc 1px solid; background: #fff; width: 480px }
.gform li { border-bottom: #ccc 1px solid; padding: 5px 20px; }
li.bookbtn { border-bottom: 0 }
li.bookare { height: 190px; }
li.bookarea { line-height: 190px; height: 190px; }
.btn { width: 80px; padding: 5px; background: #06F; color: #fff; border: 0; border-radius: 5px }
.btnrest { background: #ccc; margin-left: 10px; color: #333 }
/* book.html */

#gbooklist { width: 980px; margin: 20px auto; background: #FFFFFF; overflow: hidden; border-radius: 5px; box-shadow: #ccc 2px 2px 2px; border: #ccc 1px solid; }
.gb_tit { color: #3b3b3b; height: 30px; line-height: 30px; background: #CCC; padding: 0 20px; }
.tim { float: right; font-weight: normal; }
.gb_con { line-height: 30px; padding: 0 20px; color: #333 }
.gb_reply { border: #ccc 1px dashed; line-height: 30px; padding-left: 10px; padding: 0 20px; margin: 0 20px 10px 20px; background: #fff; color: #F00 }
.gb_reply span { color: #069; font-weight: bold }
