/*header day*/
.db ul{width:200%;padding: 0;}
.db ul li{float:left;width:50%;box-sizing:border-box;clear: none;}
.dbthree ul{width:300%;padding: 0;}
.dbthree ul li{float:left;width:33.3333%;box-sizing:border-box;clear: none;}
.qrCode-frame{margin-top:49px;}
.header {position: relative;border-bottom: 1px solid #e4e4e4;}
.header .common-width{height: 39px; line-height: 39px;}
.header  a { padding-left: 14px; color: #bc9032; }
.header  a.landing-header{color:#666;}
.header h1 { height: 100%; padding-left: 8px; color: #808080; }
.header h1 i { position: relative; top: 4px;background-position:0 -70px ;}
.header strong { padding-left: 5px;font-size:14px;font-weight: bold; }
.back-tan{background:#fff;}
.dropdown-select{padding:6px 20px 6px 10px;}

.search-address-orderList{margin-right:10px;}
.search-address-orderList .search-icon{top:10px;}
.search-address-orderList input{width:150px;border-color:#e0e0e0;padding:4px 25px 4px 6px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:width 0.3s;transition:all 0.3s;}
.search-address-orderList input:focus{width:180px;}
/*header night*/
.night .header{background:none;border-bottom: none;}
.night .restaurant-main{box-shadow: none;}
.night .header .common-width{ height: 49px; line-height: 49px;margin-bottom:0; border-bottom: 1px solid #60656C; border-radius: 5px 5px 0 0;background:#2b323b; }
.night .header h1 {color: #fff; }
.night .header h1 i { position: relative; top: 4px;background-position:0 0;}
.night .header a{color: #ffc713;}
.night .search-address-orderList .search-icon{top:15px;}
.night .restaurant-main{}
.m10{margin-top:10px;}
.night .m10{margin-top:0;}
/* header dropdown */
.night .header .dropdown-box {min-width: 151px; margin: 10px 14px 0 0; }
.night .header .dropdown-text {padding-right: 10px; }
.night .header .dropdown-text.not-history {padding-right: 0;text-indent: 12px }
.night .header .dropdown-select { background-color: white; border-radius: 5px; padding: 8px 20px 8px 8px; position: relative; }
.night .header .caret { border-top: 10px solid #b1b1b1; border-right: 6px solid transparent; border-left: 6px solid transparent; margin-top: -5px;}
dl.dropdown-menu,.dropdown-menu.not-history{max-width: 440px;width:auto;top: 32px;right: 10px;;left: inherit;padding: 0;margin-bottom: -1px;max-height: 500px;overflow: auto}
.filter-box .dropdown-menu dd{margin-right: 0;}
.dropdown-menu.not-history{margin-top: 3px}
.dropdown-menu.not-history p{width: 149px;text-align: center;font-size: .75em;color:#cccccc;line-height: 40px;}
dl.dropdown-menu .title { clear: both; line-height: 34px; border-top: 1px solid #D8D8D8; margin-right:0;float:none;border-bottom: 1px solid #D8D8D8; width: 100%; text-indent: 15px; color: #333; white-space: nowrap; text-overflow: ellipsis; font-size: .75em; background:#efefef;margin-top: -1px;}
.dropdown-menu .title:before { content: ''; display: inline-block; width: 6px; height: 6px; background: #6DDE0A; border-radius: 3px; margin-right: 6px; }
.dropdown-menu .pre-restaurant:before { background: #F2CD00 }
.dropdown-menu .offline-restaurant:before { background: #C5C5C5 }
.dropdown-menu .last { margin-right:0;height: 1px; border-bottom: 1px solid #D8D8D8; margin-top: -1px; width: 100%; float: left; }
.dropdown-menu dd {height: 48px;display: block; float: left; border-bottom: 1px dashed #D5D5D5;margin-bottom: -1px; }
.dropdown-menu dd a{width: 160px;height: 48px; line-height: 47px;padding: 0 25px; display: block;color: #333;font-size: .875em;overflow: hidden; white-space: nowrap; cursor: pointer; text-overflow: ellipsis; }
.dropdown-menu dd a:hover { background: #d7d7d7; }
.hide{display: none;}
/* header dropdown end */
.restaurant-main{min-height:320px;background: #fff;padding-top:10px;box-shadow: 0 4px 4px 1px #d3d3d3;}
.restaurant-list { padding: 0 0 18px 10px; position: relative; background-color: #ffffff; min-height:320px; z-index: 3; }
.restaurant-list.pre-order { z-index: 2 }
.restaurant-list.rest { z-index: 1 }
.restaurant-list.rest { border-top: 1px dotted #cccccc; }
/*restaurat item*/
.mark { position: absolute; top:1px; left: -26px;  color: #a3a3a3;cursor: pointer;z-index: 5; }
.mark li{height:61px;font-size:12px;padding:27px 6px 0 7px;background: #f0f0f0;width:12px;border-bottom: 1px solid #cdd8e0;border-top: 1px solid #cdd8e0; border-left: 1px solid #cdd8e0; margin-top: -1px;}
.mark .business{border-top:1px solid #ccc;}
.mark li.cur{background:#91d426;border:none;color:#e7f5d8;font-size:14px;position: relative;padding:27px 9px 0;right:4px;}
.night .mark li.cur{background:#e4c200;}
.restaurant-item { width: 219px; height: 98px; border: 1px solid #EBEBEB; padding: 5px; margin-right: 5px; margin-bottom: 6px; position: relative; cursor: pointer; }
.restaurant-item.show { opacity: 1; }
.restaurant-item:hover { border: 1px solid #febc19; box-shadow: 0 0 5px #febc19; }
.restaurant-item:hover .not-collect{display: block}
.collect{width:28px;height:28px;position:absolute;right: 0;bottom: 0; background: url(../images/collect.png) no-repeat left top;}
.cancel-collect,.collect-success{display:none;font-size:.75em;position:absolute;right: -15px;opacity: 0;filter:(opacity=0);bottom: 20px;z-index: 102; background: #2B9E1B;color: #ffffff;padding: 2px;}
.cancel-collect{background: red;color: #ffffff}
.cancel-collect.active,.collect-success.active{display:block;opacity: 1;filter:(opacity=100)}
.not-collect{display:none;background-position: -30px top;}
/*hot restaurant*/
.filter-item{font-size:14px;float:left;}
.filter-item li{float: left;padding: 0 28px;height:38px;line-height: 38px;color:#666;cursor: pointer;position: relative;}
.filter-item li .i-news{width:23px;height:15px;background: url(../images/icon.png) no-repeat -27px -124px;right:6px;top:3px;display: block;position: absolute;}
.filter-item li.cur{color:#333;background: #fff;border-top:2px solid #ffcd2c;height:37px;border-right:1px solid #e2e2e2;border-left:1px solid #e2e2e2;}
.filter-item li.nearLi{border-left:none;}
.filter-sort{float:right;padding: 0px 10px 0 0;width:397px;}
.filter-sort .dropdown-select{border-radius: 0;background: #fff;min-width:0;}
.filter-sort .caret{background:url(../images/icon.png) no-repeat -66px -125px;width:7px;height:4px;border:0;margin-top:-1px;}
.filter-sort .caret.active,.all-activity.active .caret{background-position:-66px -130px;}
.filter-sort .all-activity{margin:0 12px;}
.filter-sort label{float:right;position: relative;top:6px;margin-left: 10px;}
.all-activity{position: relative;}
.all-activity.active .dropdown-menu{display: block;}
.all-activity .dropdown-text{width:72px;text-align: left;}
.all-activity.active .dropdown-select{z-index: 201;border-bottom:0;}
.all-activity .dropdown-menu{width:230px;left:0px;padding:10px 0;border-radius: 0;box-shadow: none;}
.all-activity .dropdown-menu i,.all-activity .dropdown-menu img{vertical-align: middle;}
.all-activity .dropdown-menu li{padding: 0 0 0 10px;height:22px;line-height:22px;}
.all-activity .dropdown-menu li.active{color:#f60;}
.restaurant-filter, .filter-Obj{border:1px solid #e7e7e7;color:#484848;padding:0 7px;margin:0 10px 10px;font-size: 12px;}
.filter-Obj{border: 0px;height: 26px;}
.filter-Obj.scroll-position-static{border-bottom: 1px solid #e7e7e7;width: 940px; z-index: 100;background: #ffffff; margin: 0; padding: 3px 5px 3px 15px;}
.restaurant-list .filter-Obj {margin-left: 0}
.filter-food{position: relative;padding:14px 0;border-bottom: 1px dotted #d3d3d3;}
.filter-food label{color:#878787;height:20px;line-height:20px;}
.filter-food ul{font-size: 12px;float:left;width:830px;}
.filter-food li{float:left;height:20px;line-height:20px;margin-bottom:4px;padding:0 8px;cursor:pointer;margin-left:9px;color:#333;}
.filter-food li.cur{background: #f5bb00;color:#fff;border-radius: 2px;}
.filter-food .more{position: absolute;right:0;top:14px;padding:3px;border:1px solid #e4e4e4;display: block;cursor: pointer;}
.filter-food .more i{width:7px;height:4px;display: inline-block;background:url(../images/icon.png) no-repeat -66px -125px;position: relative;top: -3px;margin-left:2px; }
.filter-food .expand-icon{width:auto;height:auto;}
.filter-food .expand-icon i{background-position:-66px -130px;}
.fliter-activity{border-bottom: 0;}
.fliter-activity i{background: url(../images/jt.png) -7px 0 no-repeat;margin-left:2px;position:relative;top:1px;width:5px;height:11px;display: inline-block;}
.fliter-activity i.sortHigh{background-position:-7px -12px;}
.filter-food li.cur i{background-position:0 0px; }
.filter-food li.cur i.sortHigh{background-position:0 -12px; }
.restaurant-food{overflow: hidden;height:24px;}
.aIcon{background-position:-210px 0;}
/* tooltip */
.tooltip { width: 300px; padding: 15px; border-radius: 3px; background: #FFFCF7; border: 1px solid #D1D1CF; position: absolute; top: -5px; left: 100%; margin-left: 10px; z-index: 100; display: none; }
.cloneTooltip { margin-left:242px;width: 300px; padding: 15px; border-radius: 3px; background: #FFFCF7; border: 1px solid #D1D1CF; position: absolute; z-index: 100; display: none; }
.active .tooltip,
.active.tooltip { display: block; }
.cloneTooltip s{z-index:1;width:9px;height:14px;display: block;position: absolute;top:25%;left:-9px;background: url(../images/icon.png) no-repeat -78px -152px;}
.right.cloneTooltip { left: auto; right: 100%; margin-left: -342px; }
.right.cloneTooltip s{background: url(../images/icon.png) no-repeat -88px -152px;left:auto;right:-9px;}
.cloneTooltip.active{display: block;}
/* tooltipend */
.img-box { width: 82px; height: 82px; float: left; margin-right: 4px;}
/*.collect:hover{background: #EEC73C;opacity: .8;filter:alpha(opacity=80)}*/
.restaurant-introduce { width: 133px; padding-top: 6px; }
.restaurant-introduce h3 { height: 16px; font-size: .875em; line-height: 1.2em\9; margin-bottom: 10px; }
.restaurant-introduce dl { height: 12px; margin-bottom: 7px; }
.restaurant-introduce dt { margin-right: 5px; max-width: 65px;}
.restaurant-introduce dt,
.restaurant-introduce p { font-size: 0.75em; color: #565656; }
.small-star { width: 63px; height: 10px; background: url(../images/small_start.png) repeat-x left -12px; }
.small-star.score { background: url(../images/small_start.png) repeat-x left top; }
.restaurant-introduce p { }
.restaurant-state { margin-top: 7px;}
.restaurant-state p { font-size: 0.75em; color: #565656; margin-right: 8px; line-height: 14px;}
.restaurant-state li { float: left; padding-right: 2px; }
.restaurant-state span{float:left;padding-right: 2px;}
.restaurant-info h3 { height: 20px; }
.restaurant-info h4 { color: #8C8C8C; }
.restaurant-info h4,
.restaurant-info p { font-size: 0.75em; word-wrap: break-word; line-height: 1.25em; }
.restaurant-info p { margin-bottom: 4px; display: none}
.restaurant-info li { height: 14px; font-size: 0.75em; margin-bottom: 10px; }
.restaurant-info img{ margin-right: 4px; position: relative; top: 4px; }
.restaurant-info .status-icon { margin-right: 4px; position: relative; top: 3px; }
.restaurant-list ul{position: relative;}
.restaurant-list.empty .restaurant-list-empty { display: block; }
.restaurant-list-empty { height: 97px; line-height: 97px; text-align: center; font-size: 1em; color: #333333; display: none; }
/* .pre-order .restaurant-state li,
.pre-order .restaurant-info li,
.rest .restaurant-info li,
.rest .restaurant-state li { background: url(../images/restaurant_state.png) no-repeat left -14px; }
*/
.restaurant-info .other-content { margin: 0 }
/* landing page */
.landing-banner { height: 100px; padding: 13px 18px; background-color: white; }
.landing-banner > img { height: 100%; width: 100%; }
.all-restaurant-empty { background-color: #ffffff; min-height: 100%; padding-top: 66px;  display: none; }
.all-restaurant-empty>div { height: 48px; line-height: 48px; width: 240px; margin: 0 auto; text-align: center; padding-left: 62px; background: url(../images/small_logo.png) no-repeat left center; font-size: .875em; color: #999999; }
.alert-box p {line-height: 44px;}
@media screen and (max-width:1024px) {
    .mark {background:#fff;margin:0;width: auto; margin-bottom:10px;padding: 0 10px 0px 12px;border-bottom:1px solid #ccc; position: static; }
    .mark li{float:left;height:24px;line-height:24px;padding:0;width:90px;text-align: center;margin:0;border-bottom: none;border-right:1px solid #cdd8e0;border-left:none;}
    .mark li.business{border-left:1px solid #cdd8e0;}
    .mark li.cur{padding: 0;box-shadow: none;right:0;height:29px;line-height:28px;margin-top:-4px;border:none;}
    .night .mark li.cur{box-shadow: none;}
    .history-order{display: none!important;}
}

/*history-order*/
.site-fixed{bottom:300px;}
.history-order{display:none;position: fixed;bottom:-157px;right: 0;background: #fff;padding:15px 15px 10px 15px;border:1px solid #c1c0bd;width:228px;height:128px;z-index: 99;font-size: .75em;}
.history-order i{z-index:1;width:14px;height:14px;background: url(../images/icon.png) no-repeat -43px -2px;display: block;right:10px;top:15px;position: absolute;cursor: pointer;}
.order-box{height:127px;overflow: hidden;position: relative;cursor:pointer;}
.order-box li{height:127px;width:228px;}
.order-box li .order-item{height:58px;overflow: hidden;position: relative;}
.order-item p.ellipsis-show{position: absolute;bottom: 0;width:100%;background: #fff;margin-bottom: 0;}
.order_restaurant_name{margin:13px 0 12px;color:#666;}
.order-item p{color:#666;margin-bottom:8px;height:14px;}
.order-item .restaurant-name{width:120px;display: inline-block;}
.order-item .num{width:38px;display: inline-block;}
.order-item .price{width:70px;text-align: right;display: inline-block;}
.one_link{text-align: right;color: #c69c6d;}
/*restaurant-type*/
.restaurant-type{
    float: left;font-size: 14px;height:26px;line-height: 26px; position: relative; padding-left: 14px;
}
.restaurant-type:before {
    content: ''; display: block; position: absolute; left: 0; top: 9px; width: 6px;
    height: 6px; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg); -moz-transform: rotate(45deg); background: #FFAE00;
}
.recommend-restaurant {
    max-height: 232px; overflow: hidden;padding-top: 5px;
}
.show-more-recommend-restaurant{
    border-bottom: 1px solid #EBEBEB; position: relative; margin: 10px 10px 20px 0;
}
.show-more-recommend-restaurant span {
    position: absolute; left: 47%; border: 1px solid #ebebeb; border-top-color: #ffffff; padding: 0 20px 5px 10px;
    border-radius: 0 0 5px 5px; font-size: 14px; color: #E79E7A; cursor: pointer;
}
.show-more-recommend-restaurant span:after,
.show-more-recommend-restaurant span:before,
.show-more-recommend-restaurant.expand span:after,
.show-more-recommend-restaurant.expand span:before{
    content: ''; position: absolute; right: 5px; height: 0; border: 6px solid;
}
.show-more-recommend-restaurant span:before {
    top: 5px; border-color: #E79E7A transparent transparent transparent;
}
.show-more-recommend-restaurant span:after {
    top: 3px; border-color: #ffffff transparent transparent transparent;
}
.show-more-recommend-restaurant.expand span:before{
    top: -2px; border-color: transparent transparent #E79E7A transparent;
}
.show-more-recommend-restaurant.expand span:after {
    top: 0; border-color: transparent transparent #ffffff transparent;
}
