<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <!-- Title Tag -->
    <title>ZigZag HTML5 Template</title>

    <!-- <<Mobile Viewport Code>> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <<Attched Stylesheets>> -->
    <link rel="stylesheet" href="css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="css/media.css" type="text/css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"/>
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800,600italic' rel='stylesheet'-->
          <!--type='text/css'>-->

    <!-- <<Attched Javascripts>> -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/core.js"></script>
    <script src="js/modernizr.js"></script>

</head>

<body>

<!-- \\ Begin Holder \\ -->
<div class="DesignHolder">

    <!-- \\ Begin Frame \\ -->
    <div class="LayoutFrame">

        <!-- \\ Begin Header \\ -->
        <header class="header">
            <div class="Center">

                <!-- \\ Begin Top Bar \\ -->
                <div class="Top_Bar">

                    <div class="site-logo">

                        <a href="#">
                            <figure><img src="img/logo.png" alt="Image"></figure>
                        </a>

                    </div>

                    <!-- \\ Begin Navigation \\ -->
                    <nav class="Navigation">

                        <ul>
                            <li class="active"><a href="#"><span>home</span></a></li>
                            <li class="gap"><a href="#About"><span>about</span></a></li>
                            <li class="gap gap1"><a href="#Contact"><span>contact</span></a></li>
                        </ul>

                        <figure><img src="img/triangle-img.png" alt="Image" class="triangle"></figure>

                    </nav>
                    <!-- // End Navigation // -->

                    <div class="clear"></div>
                </div>
                <!-- // End Top Bar // -->


                <!-- \\ Begin Product Section \\ -->
                <div class="Product_sec">

                    <ul>
                        <li>
                            <div class="right">

                                <div class="img">

                                    <figure><img src="img/camera-img.png" alt="Image"></figure>

                                </div>

                                <div class="Details">

                                    <h3>Morbi accumsan AMET <span>ipsum dlolr ERA</span></h3>

                                    <p>The logo font is Britannic Bold and Adobe Fireworks PNG source file
                                        (img/logo_fireworks_source.png) is included. If you have any question about
                                        ZigZag template, feel free to <a rel="nofollow"
                                                                         href="http://www.cssmoban.com/contact"
                                                                         target="_parent">contact us</a>.</p>

                                    <a href="#" class="button">Learn more</a>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="left">

                                <div class="img">

                                    <figure><img src="img/letter-img.png" alt="Image"></figure>

                                </div>

                                <div class="Details">

                                    <h3>aenean sollication<span>lorem  quis bibendum actor</span></h3>

                                    <p>ZigZag is free HTML5 responsive template from <a rel="nofollow"
                                                                                        href="http://www.cssmoban.com"
                                                                                        target="_parent">Templatemo</a>
                                        website. You can download, edit, and use this layout for any kind of your
                                        website. No credit link is required.</p>

                                    <a href="#" class="button">Learn more</a>

                                </div>

                            </div>
                        </li>
                    </ul>

                </div>
                <!-- // End Product Section // -->

                <a href="#About">
                    <figure><img src="img/arrow-img.png" alt="Arrow" class="arrow"></figure>
                </a>

            </div>
        </header>
        <!-- // End Header // -->
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">企业网站模板</a></div>
        <!-- \\ Begin Container \\ -->
        <div id="Container">

            <!-- \\ Begin Middle Section \\ -->
            <div class="Middle_sec" id="About">
                <div class="Center">

                    <div id="Leftside">

                        <div class="Client">
                            <figure><a href="#"><img src="img/pic-img1.png" alt="Client 0" class="img-rounded"></a>
                            </figure>
                            <h3>George</h3>
                        </div>

                        <div class="Client1">
                            <figure><a href="#"><img src="img/pic-img2.png" alt="Client 1"></a></figure>
                            <p>“ Ribendum auctor<br> nisi elit conseq uat ipsum ”</p>
                            <h3>David</h3>
                        </div>

                        <div class="Client2">
                            <figure><a href="#"><img src="img/pic-img3.png" alt="Client 2"></a></figure>
                            <h3>Walker</h3>
                        </div>
                    </div>

                    <div id="Rightside">

                        <ul>
                            <li>
                                <div class="Industrial">

                                    <figure><img src="img/Industrial-img.png" alt="Image"></figure>

                                </div>

                                <div class="Information">

                                    <h4>sollication <span>quis bibendum actor</span></h4>

                                    <p>Credit goes to <a rel="nofollow"
                                                         href="http://www.smashingmagazine.com/2012/11/art-professions-icons-png/"
                                                         target="_blank">Art Professions Icon Set</a> from Smashing
                                        Magazine. Sed non mauris vitae erat doam</p>

                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>

                                </div>
                            </li>
                            <li>
                                <div class="Industrial">

                                    <figure><img src="img/Industrial-img1.png" alt="Image"></figure>

                                </div>

                                <div class="Information">

                                    <h4>Morbi accum<span>sednon mauris vieta</span></h4>

                                    <p>You can change the Google Maps location in core.js file by setting latitude and
                                        longitude values.</p>

                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>

                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <!-- // End Middle Section // -->


            <!-- \\ Begin Contact Section \\ -->
            <div class="Contact_sec" id="Contact">

                <!-- \\ Begin Contact Side \\ -->
                <div class="Contactside">

                    <div class="Center">

                        <div class="Form">

                            <h3>contact <span>us</span></h3>

                            <form method="post" action="#">
                                <fieldset>

                                    <p><input name="name" type="text" class="field" id="name" maxlength="50"
                                              placeholder="NAME"></p>

                                    <p><input name="email" type="email" class="field1" id="email" placeholder="EMAIL">
                                    </p>

                                    <p><textarea name="message" id="message" placeholder="MESSAGE"></textarea></p>

                                    <p><input name="submit" type="submit" class="Button" id="submit" value="send"></p>

                                </fieldset>
                            </form>

                        </div>
                    </div>

                    <!-- \\ Begin map Section \\ -->
                    <div class="map_sec">

                        <div class="center">

                            <div id="GoogleMap"></div>

                        </div>

                    </div>
                    <!-- // End map Section // -->


                </div>
                <!-- // End Contact Side // -->

            </div>
            <!-- // End Contact Section // -->


        </div>
        <!-- // End Container // -->

        <!-- \\ Begin Footer \\-->
        <footer>
            <div class="Center">

                <p>Copyright © 2084 Your Company Name. More Templates <a href="http://www.cssmoban.com/" target="_blank"
                                                                         title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>

                </p>

            </div>
        </footer>
        <!-- // End Footer // -->

    </div>
    <!-- // End Layout Frame // -->

</div>
<!-- // End Design Holder // -->

</body>

</html>
