<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/unslider.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
	<div class="layout">
		<!--搜索头部-->
		<header class="nav_header">
			<div class="nav">
				<a href="#" class="nav_logo"></a>
				<!-- 小键盘  enter 改变成  搜索 按钮 -->
				<form action="#">
					<span class="nav_search_icon"></span>
					<input type="search" placeholder="搜索关键字" />
				</form>
				<a href="#" class="nav_login">登录</a>
			</div>
		</header>
		<!--轮播图-->
		<div class="banner">
			<div>
				<ul>
					<li><a><img src="img/banner_01.jpg"></a></li>
					<li><a><img src="img/banner_02.jpg"></a></li>
					<li><a><img src="img/banner_03.jpg"></a></li>
					<li><a><img src="img/banner_04.jpg"></a></li>
					<li><a><img src="img/banner_05.jpg"></a></li>
				</ul>
			</div>
		</div>
		<!--导航栏-->
		<nav class="item">
			<ul class="clearfix">
				<li>
					<a href="#">
            <img src="img/nav_01.png" alt=""/>
            <p>京东超市</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_02.png" alt=""/>
            <p>全球购</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_03.png" alt=""/>
            <p>服装城</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_04.png" alt=""/>
            <p>京东生鲜</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_05.png" alt=""/>
          	<p>京东到家</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_06.png" alt=""/>
            <p>充值中心</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_07.png" alt=""/>
            <p>京东金融</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_08.png" alt=""/>
            <p>领券</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_09.png" alt=""/>
            <p>物流查询</p>
          </a>
				</li>
				<li>
					<a href="#">
            <img src="img/nav_10.png" alt=""/>
            <p>我的关注</p>
          </a>
				</li>
			</ul>
		</nav>
		<!--商品-->
		<main class="shopItem">
			<!--秒杀区块-->
			<section class="shop_box">
				<!--头部-->
				<div class="shop_box_tit no_border">
					<div class="fl m_l10 sk_l">
						<span class="sk_l_icon"></span>
						<span class="sk_l_name m_l10">掌上秒杀</span>
						<div class="sk_l_time m_l10">
							<span>0</span>
							<span>0</span>
							<span>:</span>
							<span>0</span>
							<span>0</span>
							<span>:</span>
							<span>0</span>
							<span>0</span>
						</div>
					</div>
					<div class="fr m_r10"><a href="#">更多></a></div>
				</div>
				<!--内容-->
				<div class="sk_con">
					<ul class="clearfix">
						<li>
							<a href="#"><img src="img/detail01.jpg" alt=""/></a>
							<p>&yen;10.00</p>
							<p>&yen;100.00</p>
						</li>
						<li>
							<a href="#"><img src="img/detail02.jpg" alt=""/></a>
							<p>&yen;10.00</p>
							<p>&yen;100.00</p>
						</li>
						<li>
							<a href="#"><img src="img/detail01.jpg" alt=""/></a>
							<p>&yen;10.00</p>
							<p>&yen;100.00</p>
						</li>
					</ul>
				</div>
			</section>
			<!--左大图、右小图-->
			<section class="shop_box">
				<!--头部-->
				<div class="shop_box_tit">
					<h3>京东超市</h3></div>
				<!--内容-->
				<div class="clearfix">
					<a href="#" class="fl w_50 b_r1"><img src="img/cp1.jpg" alt=""/></a>
					<a href="#" class="fr w_50 b_b1"><img src="img/cp2.jpg" alt=""/></a>
					<a href="#" class="fr w_50 "><img src="img/cp3.jpg" alt=""/></a>
				</div>
			</section>
			<!--左小图、右大图-->
			<section class="shop_box">
				<!--头部-->
				<div class="shop_box_tit">
					<h3>京东超市</h3></div>
				<!--内容-->
				<div class="clearfix">
					<a href="#" class="fr w_50 b_l1"><img src="img/cp4.jpg" alt=""/></a>
					<a href="#" class="fl w_50 b_b1"><img src="img/cp5.jpg" alt=""/></a>
					<a href="#" class="fl w_50"><img src="img/cp6.jpg" alt=""/></a>
				</div>
			</section>
			<!--左大图、右小图-->
			<section class="shop_box">
				<!--头部-->
				<div class="shop_box_tit">
					<h3>京东超市</h3></div>
				<!--内容-->
				<!--内容-->
				<div class="clearfix">
					<a href="#" class="fl w_50 b_r1"><img src="img/cp1.jpg" alt=""/></a>
					<a href="#" class="fr w_50 b_b1"><img src="img/cp2.jpg" alt=""/></a>
					<a href="#" class="fr w_50 "><img src="img/cp3.jpg" alt=""/></a>
				</div>
			</section>
		</main>
	</div>

	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.event.move.js"></script>
	<script type="text/javascript" src="js/jquery.event.swipe.js"></script>
	<script type="text/javascript" src="js/unslider.js"></script>
	<script>
		$(function() {
			$('.banner').unslider({
				speed: 500,
				delay: 3000,
				nav: true, //是否启动导航图标
				dots: true, //是否出先圆点点
				arrows: false,
				autoplay: true //自动轮播
			});
		})
	</script>
</body>

</html>
