<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <ol>
        <todo-item v-for="site in sites" :todo="site"></todo-item>
    </ol>
</div>

<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li key="todo.key">{{ todo.text }} a </li>'
    })

    new Vue({
        el: '#app',
        data: {
            sites: [
                {
                    text: 'A'
                },
                {
                    text: 'T'
                },
                {
                    text: 'M'
                }
            ]
        }
    })
</script>
</body>

</html>
