@charset "utf-8";
/* CSS Document */


.flipmenu {
    font-size: 14px;
    position: relative;
	height:20px;
}


.flipmenu_box {
    overflow: hidden;
    position: relative;
	width:70px;
	height:20px;
    padding: 0px;
    margin: 0px;
	float:left;
}

.flipmenu_link,
.flipmenu_link_over,
.flipmenu_link_active {
    text-decoration: none;
    text-transform: uppercase;
	color:#0c0c0c; 
    cursor: pointer;
    white-space: pre;
    position: absolute;
}

.flipmenu_link {
    top: 0px;
    left: 0px;
}

.flipmenu_link_over, 
.flipmenu_link_active {
    color: #E31414;
	font-weight:600;
}
